.panel > .el{
    display: flex;
    flex-direction: column;
}
.el > * + *{
    margin-top: 40px;
}
.el > .header{
    text-align: center;
}

.el > .header > .icon{
    width: 64px;
    height: 64px;
}

.el > .header > .text > * + *{
    margin-top: 5px;
}

.el > .header > * + *{
    margin-top: 20px;
}

.el > .h-line-separate{
    margin:20px 0;
}

.el > .body{
    text-align: center;
}

.el > .body > * + *{
    margin-top: 20px;
}

.el > .button{
    height: 50px;
    width: calc(100% - 50px);
}