.root > .header{
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 52px;
    background-color: var(--primary-color);

    position: fixed;
}
.root > .header > .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.root > .header > .wrapper > .logo{
    display: flex;
    align-items: center;
}

.root > .header > .wrapper > .logo > .title{
    margin-left: 10px;
}