.icon-xl{
    width: 72px;
}


.icon-vlg{
    width: 56px;
}


.icon-lg{
    width: 42px;
}

.icon{
    width: 32px;
}

.icon-sm{
    width: 22px;
}

.icon-vsm{
    width: 16px;
}

.icon-pixel{
    image-rendering: pixelated;
}