.text-vlg{
    font-size: 22px;
}

.text-lg{
    font-size: 18px;
}

.text{
    font-size: 16px;
}


.text-sm{
    font-size: 14px;
}


.text-vsm{
    font-size: 12px;
}


.text-secondary{
    color: var(--text-secondary-color);
}

.text-warning{
    color: var(--warning-color);
}

.text-attention{
    color: var(--attention-color);
}




.title-vlg{
    font-size: 56px;
}

.title-lg{
    font-size: 42px;
}

.title{
    font-size: 32px;
}

.title-sm{
    font-size: 26px;
}

.title-vsm{
    font-size: 24px;
}


.text-rus{
    font-family: "Minecraft Rus";
}

.text-ten{
    font-family: "Minecraft Ten";
}


.link{
    transition: .1s ease-out;
    padding-bottom: 2px;
    border-bottom: 2px var(--text-secondary-color) solid;
}

.link:not([disabled]):hover{
    color: var(--secondary-color);
    border-bottom: 2px var(--secondary-color) solid;
}